.idea
*.iml
*.pyc
out
gen
data
build
dist
/build/
/data/
/dist/
/__pycache__/
.gitattributes

*.pickle
*.txt
*.xlsx
*.html
*.pkl
*_DEBUG.py
*_OLD.py
*.jpg
/PickleFiles/BosforAllApartmentsInfo.pkl
/token.json
/Utility/MyataPass.py
/Cookies
!/Cookies/.gitkeep
!/req.txt
/Design/TEST_UI.py
/Design/UI.ui

/output/
exeConfig.json
